---

emitter: email

logging:
  file: /var/log/opnsense-update.log

email:
  from: "firewall@domain.com"
  to: "user@domain.com"
  host: localhost

telegram:
  token: example
  chatid: 1234

opnsense:
  host: firewall.local
  self_signed: true
  api_key: insert api key here
  api_secret: insert api key here
